body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #1b1e21;
}



.nav1 {
    position: fixed;
    margin-bottom: 55px;
    overflow: visible;
    z-index: 1000;
    background-image: url("image.jpeg");
    min-height: 60px;
}
.nav1 a{
    color: #7abaff !important;
}
#photos, #achat, #commentaires, #description {
    margin-top: 55px;

}

.desc, .achat {
    margin-top: 55px;
}
@media screen and (max-width: 700px) {
    .container {
        width: 100%;
        background-image: url("light-1282314__340.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    ul, .nav1 {
        width: 100%;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 700px) {
    .container {
        width: 700px;
        background-image: url("light-1282314__340.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .nav1 {
        width: 700px;
    }
}